<!-- About start -->

<p>Democratic Socialists of America (DSA) is an activist organization, not a political party. Through the work of our members in local chapters and on a national level, DSA is at the center of the struggle for progress, justice, & democracy. We fight for an economy based on social needs & democratic values, not unchecked greed & unaccountable power; against oppression based on class, race, gender, sexuality, nationality, & other forms of injustice; for a clean environment & a livable world; against militarism at home and abroad. We pursue meaningful advances on all of these issues while building a long-term movement for social and economic change.</p>

<p>The NC Piedmont DSA chapter covers north-central North Carolina, with members in and around Winston-Salem, Greensboro, Hillsborough, Carrboro, Chapel Hill, Durham, & Raleigh.</p>

<i class="fa fa-envelope fa-lg"></i> <info@dsanc.org>

<!-- About end -->
