<!-- About start -->

<p>NC Piedmont DSA is the regional chapter for <a href="http://www.dsausa.org/">Democratic Socialists of America (DSA)</a> members in and around Winston-Salem, Greensboro, Hillsborough, Carrboro, Chapel Hill, Durham, & Raleigh.</p>

<p>The largest socialist organization in the United States, DSA is an activist organization, not a political party. Through the work of our members in local chapters and on a national level, DSA is at the center of the struggle for progress, justice, & democracy. We fight for an economy based on social needs & democratic values, not unchecked greed & unaccountable power; against oppression based on class, race, gender, sexuality, nationality, & other forms of injustice; for a clean environment & a livable world; against militarism at home and abroad. We pursue meaningful advances on all of these issues while building a long-term movement for social and economic change.</p>

<blockquote class="blockquote">
  <p>DSA is the major organization on the American left with an all-embracing moral vision, systematic social analysis, and political praxis rooted in the quest for radical democracy, social freedom, and individual liberties.</p>
  <footer class="blockquote-footer">Cornel West, DSA Honorary Chair</footer>
</blockquote>

<blockquote class="blockquote">
  <p class="blockquote">DSA carries on a fine old American tradition— the tradition carried on by Eugene Debs, Mother Jones, Elizabeth Cady Stanton, and thousands more. I am proud to be a member.</p>
  <footer class="blockquote-footer">Barbara Ehrenreich, DSA Honorary Chair</footer>
</blockquote>

<p>To learn more and get involved, contact us by email or on Facebook.</p>

<i class="fa fa-envelope fa-lg"></i> <a href="mailto:info@dsanc.org">info @ dsanc.org</a>
&nbsp;&nbsp;·&nbsp;&nbsp;
<i class="fa fa-facebook fa-lg"></i> <a href="https://facebook.com/TriangleTriadDSA">TriangleTriadDSA</a>


<!-- About end -->
