<!-- About start -->

<div class="post-content">
<p>NC Piedmont DSA is the regional chapter for <a href="http://www.dsausa.org/">Democratic Socialists of America (DSA)</a> members in and around Winston-Salem, Greensboro, Hillsborough, Carrboro, Chapel Hill, Durham, & Raleigh.</p>

<p>The largest socialist organization in the United States, DSA is an activist organization, not a political party. Through the work of our members in local chapters and on a national level, DSA is at the center of the struggle for progress, justice, & democracy. We fight for an economy based on social needs & democratic values, not unchecked greed & unaccountable power; against oppression based on class, race, gender, sexuality, nationality, & other forms of injustice; for a clean environment & a livable world; against militarism at home and abroad. We pursue meaningful advances on all of these issues while building a long-term movement for social and economic change.</p>

<blockquote>We are socialists because we reject an international economic order sustained by private profit, alienated labor, race and gender discrimination, environmental destruction, and brutality and violence in defense of the status quo.<br><br>
We are socialists because we share a vision of a humane international social order based both on democratic planning and market mechanisms to achieve equitable distribution of resources, meaningful work, a healthy environment, sustainable growth, gender and racial equality, and non-oppressive relationships.</blockquote>



<i class="fa fa-envelope fa-lg"></i> <a href="mailto:info@dsanc.org">info @ dsanc.org</a>

</div>

<!-- About end -->
