<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- content start -->

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <!-- content end -->

    {% include footer.html %}
    {% include javascripts.html %}
    <!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=11164407; 
var sc_invisible=1; 
var sc_security="b0ac5de0"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="shopify traffic
stats" href="http://statcounter.com/shopify/"
target="_blank"><img class="statcounter"
src="//c.statcounter.com/11164407/0/b0ac5de0/1/"
alt="shopify traffic stats"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

  </body>

</html>
